<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SilentAuction.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SilentAuction.Properties.Settings.SilentAuctionConnectionString"
      connectionString="data source=&quot;C:\_My Projects\SilentAuction\SilentAuction\bin\Debug\SilentAuction.sqlite&quot;"
      providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <userSettings>
    <SilentAuction.Properties.Settings>
      <setting name="MainFormInitialLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="ItemsItemDescriptionColumnWidth" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="ItemsDonorIdColumnWidth" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="ItemsNameColumnWidth" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="ItemsQtyColumnWidth" serializeAs="String">
        <value>55</value>
      </setting>
      <setting name="ItemsNotesColumnWidth" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ItemsRetailValueColumnWidth" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="ItemsBuyItNowValueColumnWidth" serializeAs="String">
        <value>140</value>
      </setting>
      <setting name="ItemsBidIncrementTypeColumnWidth" serializeAs="String">
        <value>110</value>
      </setting>
      <setting name="ItemsBidMinColumnWidth" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="ItemsBidMaxColumnWidth" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="ItemsBidNumberOfBidsColumnWidth" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="ItemsBidIncrementValuesColumnWidth" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="DonorsDonorTypeColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DonorsNameColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DonorsContactNameColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DonorsStreet1ColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DonorsStreet2ColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DonorsCityColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DonorsStateColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DonorsZipCodeColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DonorsPhone1ColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DonorsExt1ColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DonorsPhone2ColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DonorsExt2ColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DonorsEmailColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="AuctionsNameColumnWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="AuctionsDescriptionColumnWidth" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="SilentAuctionDatabaseName" serializeAs="String">
        <value>SilentAuction.sqlite</value>
      </setting>
      <setting name="DonorsRequestFormatTypeIdColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DonorsUrlColumnWidth" serializeAs="String">
        <value>130</value>
      </setting>
      <setting name="ItemsItemTypeIdColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ItemsDonationDeliveryTypeIdColumnWidth" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="EditDonorListInitialLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="EditAuctionListInitialLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="AuctionIdInUse" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AuctionNameInUse" serializeAs="String">
        <value />
      </setting>
      <setting name="DonorsRequestStatusTypeIdColumnWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DocumentEditorInitialLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowAllItemsByDonorNamesInitialLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="CreateAuctionInitialLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="CopyDonorsInitialLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="DonorSelectionsInitialLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="EditAuctionFormInitialLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="CreateDonorInitialLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenAuctionInitialLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="NoResponseByDonorInitialLocation" serializeAs="String">
        <value />
      </setting>
    </SilentAuction.Properties.Settings>
  </userSettings>
</configuration>